<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockserviceproducts</name>
	<displayName><![CDATA[Service products block]]></displayName>
	<version><![CDATA[1.10.1]]></version>
	<description><![CDATA[Displays a block featuring your store&#039;s service products.]]></description>
	<author><![CDATA[Roger]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>